@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.all-\[unset\] {
all: unset;
}
}

/* :root {
--primary-color: rgba(17, 23, 41, 1);
--secondary-2rd-color: rgba(214, 32, 255, 1);
--secondary-3rd-color: rgba(148, 163, 187, 1);
--secondary-4th-color: rgba(226, 232, 240, 1);
--secondary-color: rgba(13, 108, 255, 1);
} */

